.container{
    width:45%
}

h1{
    margin: 10% 0 0% 0;
    color: var(--theme-primary);
}

#dev-image{
    width: 50%;
}

.contribute{
    width: 96%;
    height: 100%;
    border-radius: 20px;
    padding: 5%;
    margin: 2% 0;
    background-color: var(--theme-bg-trans);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    z-index: 1;
}

.contribute li a{
    align-items: start;
    justify-content: start;
}

@media only screen and (max-width: 1500px) {
    .container{
        width:55%
    }
}

@media only screen and (max-width: 1000px) {
    .container{
        width:70%
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width:85%
    }
}