.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 100px auto;
    padding-bottom: 40px;
    background-color: #262626;
    border-radius: 20px;
    color: var(--theme-primary);
}

.title {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    background-color: var(--theme-bg);
    font-size: 40px;
}

.article img {
    width: 100%;
}

.intro {
    width: 90%;
    margin: 50px auto;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: var(--theme-white);
}

.intro p {
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: var(--theme-white);
}

.intro span {
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    height: 43px;
    position: relative;
    top: -9px;
    color: var(--theme-primary);
}

.intro img {
    position: relative;
    top: 20px;
}

div.subtopics {
    width: 80%;
    margin: 0px 50px;
    font-size: 17px;
    line-height: 1.2;
    color: var(--theme-white);
}

.subtopics h3 {
    font-size: 20px;
    margin: 0 25px;
    color: var(--theme-primary);
    text-align: left;
}

.subtopics ul li {
    color: var(--theme-white);
    width: 100%;
    padding: 5px 10px;
}

.subtopics ul li a {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left !important;
    display: flex;
    align-items: start;
    justify-content: start;
}

#intro h3 {
    text-align: center;
    font-size: 25px;
}

div.used-for {
    width: 80%;
    margin: 0px 50px;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
    line-height: 1.2;
    color: var(--theme-white);
    background-color: var(--theme-tertiary);
}

.used-for h3 {
    font-size: 20px;
    margin: 0 80px;
    padding: 0;
    color: var(--theme-primary);
    text-align: left;
}

.used-for ul {
    margin: 5px;
    position: relative;
    left: 50px;
}

.used-for ul li {
    width: 100%;
    padding: 5px 10px;
}

#history h3 {
    text-align: center;
    font-size: 25px;
}

.examples-topic {
    font-size: 20px;
    text-align: center;
    color: #9e9898;
    margin: 10px 0;
}

dl {
    margin: 10px 40px;
    color: var(--theme-white);
    font-size: 16px;
    text-align: justify;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    z-index: 1;
}

.wrapper .card {
    width: 150px;
    height: 215px;
    background: rgba(255, 255, 255, 0.05);
    margin: 5px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--theme-primary);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* .wrapper .card:hover {
    scale: 1.05;
} */

.wrapper .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

#types h3 {
    text-align: center;
    font-size: 25px;
}

video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
}

.video-src a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(148, 0, 206, 0.733);
}

.video-src a span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--theme-white);
}

#role h3 {
    text-align: center;
    font-size: 25px;
}

#future h3 {
    text-align: center;
    font-size: 25px;
}

.source {
    text-align: center;
    font-size: 18px;
    color: var(--theme-white);
}
