:root{
    --theme-bg: #191919; /* use like -> color: var(--theme-bg); */
    --theme-white: #fff; /* best for text */
    --theme-black: #000;
    --theme-radius: 0.5rem;
    --theme-bg-trans: #00000055;
    --theme-blur:10px; /* use like -> backdrop-filter: blur(var(--theme-blur)); */
}

body{
    background-color: var(--theme-bg);
    color: var(--theme-white);
    font-family: 'Roboto','Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
.container{
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    font-size: 1.2rem;
    line-height: 1.75;
    transition: all 0.3s ease-in-out;
}


h1{
    margin: 10% 0 0% 0;
    color: var(--theme-primary);
}

#dev-image{
    width: 50%;
    border-radius: 20px;
}

.contribute{
    width: 96%;
    height: 100%;
    border-radius: 20px;
    padding: 5%;
    margin: 2% 0;
    background-color: var(--theme-bg-trans);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    z-index: 1;
}

.contribute li a{
    align-items: start;
    justify-content: start;
}



@media only screen and (max-width: 1500px) {
    .container{
        width:55%
    }
}

@media only screen and (max-width: 1000px) {
    .container{
        width:70%
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width:85%
    }
}