.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    justify-content: center;
}

#rating__container{
    justify-content: center;
    align-items: center;
}