.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    grid-template-rows: 100%;
    grid-gap: 3.333%;
    transition: all 0.3s ease-in-out;
  }

  .article{
    background-color: var(--theme-tertiary);
    border-radius: 20px;
    padding: 100% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .article span{
    background-color: var(--theme-bg);
    padding: 2% 5%;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }

  .wrapper:hover .article{
    filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  .article:hover{
    scale: 1.1;
    filter: blur(0px) !important;
    box-shadow: 0 0 50px var(--theme-black);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .article:hover span{
    background-color: var(--theme-primary);
    color: var(--theme-black);
    padding: 2% 5%;
    transition: all 0.3s ease-in-out;
  }

  #article1{
    background-image: url(../resources/img/home/theater.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    font-size: 1.2rem;
    line-height: 1.75;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1500px) {
    .wrapper {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }
}