:root{
    --theme-bg: #191919; /* use like -> color: var(--theme-bg); */
    --theme-white: #fff; /* best for text */
    --theme-black: #000;
    --theme-radius: 0.5rem;
    --theme-blur:10px; /* use like -> backdrop-filter: blur(var(--theme-blur)); */
}

body {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--theme-primary);
    z-index: -100;
    background: url('../resources/img/bgf2.png') no-repeat;
    background-size: cover;
}

.quiz {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-home {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-home h1 {
    color: var(--theme-primary);
    font-size: 75px;
    font-weight: 600;
    margin: 0;
}

.quiz-home p {
    color: var(--theme-white);
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}

.start-btn {
    width: 160px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    background: transparent;
    color: var(--theme-primary);
    border: 4px solid var(--theme-primary);
    border-radius: var(--theme-radius);
    cursor: pointer;
    text-shadow: 0 40px 40px var(--theme-primary), 0 0 40px var(--theme-primary);
    box-shadow: inset 0 0 12px 0 var(--theme-primary), 0 0 12px 0 var(--theme-primary);
}

.start-btn:hover {
    background: var(--theme-primary);
    color: var(--theme-tertiary);
    transition: 0.5s;
}

.guide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    background-color: var(--theme-tertiary);
    border-radius: var(--theme-radius);
    padding: 10px 20px;
    opacity: 0;
    pointer-events: none;
}

.guide.active {
    opacity: 1;
    pointer-events: auto;
}

.guide h2 {
    font-size: 25px;
    color: var(--theme-white);
    border-bottom: var(--theme-white) 2px solid;
    padding-bottom: 15px;
}

.guide-points {
    display: inline-block;
    margin: 4px 0;
}

.group-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 0;
    border-top: var(--theme-white) 2px solid;
    padding-top: 15px;
    width: 460px;
}

.exit-btn {
    width: 102px;
    height: 32px;
    font-size: 15px;
    margin-right: 15px;
    border-radius: var(--theme-radius);
    background: transparent;
    color: var(--theme-primary);
    border: 2px solid var(--theme-primary);
}

.continue-btn {
    background-color: var(--theme-primary);
    color: var(--theme-tertiary);
    text-decoration: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid var(--theme-primary);
    border-radius: var(--theme-radius);
}

.exit-btn:hover {
    background-color: var(--theme-primary);
    color: var(--theme-tertiary);
    border: 2px solid var(--theme-primary);
    width: 105px;
    height: 33px;
}

.continue-btn:hover {
    background-color: var(--theme-tertiary);
    color: var(--theme-primary);
    border: 2px solid var(--theme-primary);
}