  h1 {
    margin-top: 5rem;
    margin-left: 38rem;
    font-size: 40px;
  }
  
  .bx-cart:hover{
    transform: translate(4px,4px);
    color: maroon;
    transition: 0.3s ease-in-out;
  }
 
  section{
    padding: 10px 8%;
  }
  
  /* override values in style.css to which to make them adjust with mine */
  section .container{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    flex-direction: row;
    align-items: start;
  }
  
  section .container #main {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 2fr);
    gap: 3rem;
    text-align: center;
    cursor: pointer;         
  }
  
  section .container .sidebar{
    min-width: fit-content;
    height: auto;
    border-radius: 5px;
    margin-left: 60px;
    border: 2px solid var(--theme-tertiary);
    text-align: center;
  }
  
  section .container .sidebar .head {
    background: var(--theme-secondary);
    border-radius: 4px;
    height: 50px;
    padding: 10%;
    margin-bottom: 20px;
    color: wheat;
    display: flex;
    align-items: center;
    padding: 0px 80px;
  }

  section .container .sidebar .head p {
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-style: italic;
    font-size: larger;
  }

  section .container .sidebar .head span, section .container .sidebar .head i{
    background-color: var(--theme-black);
  }

  section .container .sidebar .head i{
    font-size: 34px;
  }
  
  section .container .sidebar .foot {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 10px 0px;
    border-top: 1px solid wheat;
  }

  
  section .container .sidebar .foot h3{
    margin-top: 0;
    margin-left: 20px;
  }
  
  section .container #main .box{
    padding: 0px 20px 20px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55, 55, 55);    
    border-radius: 10px;
    position: relative;
    transition: all 0.35s ease;
    border: 1px solid var(--theme-primary);
    max-height: 90%;
  }
  
  section .container #main .box img{
    width: 100%;
    height: auto;
    outline: 1px solid var(--theme-primary);
  }

  section .container #main .box img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  
  section .container #main .box h3{
    letter-spacing: 1px;
    margin-bottom: 6px;
    
  }
  
  section .container #main .box h4 {
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  
  section .container #main .box .cart{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: var(--theme-primary);
    color: var(--theme-black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 1px solid var(--theme-black);
  }
  
  section .container #main .box:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  
  section .container .sidebar #cartItem .cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--theme-tertiary);
    border-bottom: 1x solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
  }
  
  section .container .sidebar #cartItem .cart-item .row-img{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    border: 1px solid var(--theme-white);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section .container .sidebar #cartItem .cart-item .row-img .rowimg{
    width: 40px;
    height: 50px;
    border-radius: 50%;
  }
  
  section .container .sidebar #cartItem .cart-item .bx-trash:hover{
    cursor: pointer;
    transform: scale(1.5);
  }

  section .container .sidebar .chkout-btn{
    background-color: var(--theme-tertiary);
    color: var(--theme-white);
    width: 100%;
    height: 50px;
    padding: 0 60px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid var(--theme-tertiary);  
    text-transform: uppercase;
  }

  section .container .sidebar .chkout-btn:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    background-color: var(--theme-secondary);
  }

  /* .animate{
    opacity: 1 !important;
    scale: 1 !important;
  } */

  /* #dev span {
    margin: 0 !important;
  } */

.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-right: auto;
  transform: translate(-50%, -50%) scale(1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  border: 1px solid #000;
  visibility: hidden;
  transition: transform 0.3s, top 2s;
}

.open-popup-field{
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup img{
  width: 100px;
  height: 6rem;
  margin-top: 3rem;
  border-radius: 50%;
  border: 2px solid;
}

.popup h2{
    font-size: 40px;
  margin: 20px 0 10px;
}
.popup p{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}
.popup button{
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}
  
  
  
  
  
  