:root{
    --theme-bg: #191919; /* use like -> color: var(--theme-bg); */
    --theme-white: #fff; /* best for text */
    --theme-black: #000;
    --theme-radius: 0.5rem;
    --theme-bg-trans: #00000055;
    --theme-blur:10px; /* use like -> backdrop-filter: blur(var(--theme-blur)); */
}

body{
    background-color: var(--theme-bg);
    color: var(--theme-white);
    font-family: 'Roboto','Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#navbar {
    list-style-type: none;
    padding: 5px 0px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--theme-bg-trans);
    backdrop-filter: blur(var(--theme-blur));
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    z-index: 100000;
  }

#logo{
  width: 65px;
  top: 0 !important;
  left: 0 !important;
  }

#logo a{
  padding: 10px 0 !important;
  width: 50% !important;
  margin: 0 0 0 15px !important;
}

#navbar img{
  width: 35px;
  border-radius: 50%;
  background-color: var(--theme-primary);
  transition: all 0.3s ease-in-out;
}  

  li {
    float: left;
    transition: all 0.3s ease-in-out;
  }
  
  li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 110px;
    color: var(--theme-white);
    opacity: 0.5;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
  }

  li a span{
    margin: auto 5px;
  }
  
  li a:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  
  .active {
    opacity: 1;
    background-color: var(--theme-tertiary);
  }


  li select{
    width: 100px;
    height: 30px;
    margin: 10px 20px;
    text-align: center;
    border-radius: 10px;
    border: var(--theme-primary) 3px solid;
    background-color: var(--theme-bg);
    color: var(--theme-white);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .dot {
    position: absolute !important;
    top: 5px;
    width: 40px;
    height: 4px;
    background: var(--theme-primary) !important;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  #navbar li:nth-child(2):hover ~ li .dot {
    -webkit-transform: translateX(-865px) !important;
    transform: translateX(-865px) !important;
  }
  
  #navbar li:nth-child(3):hover ~ li .dot {
    -webkit-transform: translateX(-735px) !important;
    transform: translateX(-735px) !important;
  }
  
  #navbar li:nth-child(4):hover ~ li .dot {
    -webkit-transform: translateX(-605px) !important;
    transform: translateX(-605px) !important;
  }
  
  #navbar li:nth-child(5):hover ~ li .dot {
    -webkit-transform: translateX(-475px) !important;
    transform: translateX(-475px) !important;
  }
  
  #navbar li:nth-child(6):hover ~ li .dot {
    -webkit-transform: translateX(-345px) !important;
    transform: translateX(-345px) !important;
  }
    
  #navbar li:nth-child(7):hover ~ li .dot {
    -webkit-transform: translateX(-215px) !important;
    transform: translateX(-215px) !important;
  }

  #navbar li:nth-child(8):hover ~ li .dot {
    -webkit-transform: translateX(-85px) !important;
    transform: translateX(-85px) !important;
  }

  .nav__text{
    transition: all 0.3s ease-in-out;
  }

  .material-symbols-rounded{
    transition: all 0.3s ease-in-out;
  }

  .container{
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    font-size: 1.2rem;
    line-height: 1.75;
    transition: all 0.3s ease-in-out;
}

.animate{
  opacity: 0;
  scale: 0.3;
  transition: all 0.3s ease-in-out;
}

#footer{
  padding: 2% 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height:100%;
  background-color: var(--theme-bg-trans);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  margin: 0;
}

#footer ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dev{
  padding: 10px;
  border-radius: 20px;
  background-color: var(--theme-primary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#dev img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

#dev a{
  text-decoration: none;
  color: var(--theme-black);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

#dev:hover{
  scale: 1.1 !important;
  transition: all 0.3s ease-in-out;
}

  @media only screen and (max-width: 1150px) {
    .nav__text, .dot{
      display: none;
    }
    li a {
      width:fit-content;
      margin: 0 auto;
      justify-content: space-between;
    }
    li{
      justify-content: space-between;
      width: fit-content;
      margin: 0 auto;
    }
    #theme-selector{
      width:20px;
    }
}

@media only screen and (max-width: 470px) {
  .nav__text, .dot{
    display: none;
  }
  li a {
    width:fit-content;
    margin: 0 auto;
    justify-content: space-between;
  }
  li{
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
  }
  #theme-selector{
    width:20px;
  }
  #logo{
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .nav__text, .dot{
    display: none;
  }
  li a {
    margin: 0 auto;
    width: 25px;
    padding: 14px 5px;
  }
  li{
    margin: 0 auto;
    padding: 0;
  }
  #theme-selector{
    width:20px;
    display: none;
  }
  .material-symbols-rounded{
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 325px) {
  .nav__text, .dot{
    display: none;
  }
  li a {
    margin: 0 auto;
    width: 25px;
    padding: 14px 5px;
  }
  li{
    margin: 0 auto;
    padding: 0;
  }
  #navbar img{
    display: none;
  }
  .material-symbols-rounded{
    padding: 0;
    margin: 0;
  }
}